@model ProductsPageViewModel

@{
    ViewData["Title"] = "Менеджер каталога";
}

@if(Model.IsSuccess == false)
{
  <h1 class="text-danger text-center mt-5">
    @Model.StatusMessage
  </h1>
}
else
{
<div class="container-1 py-5 mx-5">
    <div class="row">
        <div class="col-lg-3">
    <h1>Управление каталогом</h1>
</div>

    <partial name="_ProdPaginationPartial" model="@Model.Pagination"/>

    <div id="catalogView">
        <partial name="_ProductListPartial" model="@Model.Products"/>
    </div>

    <partial name="_ProdPaginationPartial" model="@Model.Pagination"/>

    </div>
</div>
}

@section Scripts
{
  <script>
    function displayInfo(itemId)
    {
        console.log("got id " + itemId)
      $.ajax(
      {
        url: "Products?id=" + itemId,
        type: "get",
        success: function (result)
        {
          $("#catalogView").html(result);
        }
      });
    }
  </script>
}