@model BasketViewModel

<a asp-controller="Basket" asp-action="Index" class="nav-icon position-relative text-decoration-none" title="Корзина">
    <i class="fa fa-fw fa-cart-arrow-down text-dark mt-2 pt-1 mx-2"></i>
    <span
        class="position-absolute top-0 left-30 translate-middle badge rounded-pill bg-light text-dark">@Model.Items.Count</span>
</a>