@model BasketViewModel

<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        @if (@Model.Items.Count > 0)
        {
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Корзина</h3>
            <div>
              <p class="mb-0">
                Количество товара:
                <span id="basketCount" class="text-muted">
                  @Model.TotalItems
                </span>
              </p>
            </div>
          </div>
          <div id="list">
            <partial name="_BasketListPartial" model="@Model" />
          </div>
          <div class="card mb-4">
            <div class="card-body p-4 d-flex flex-row">
              <div class="form-outline flex-fill">
                <input type="text" id="form1" class="form-control form-control-lg" />
                <label class="form-label" for="form1">Промокод</label>
              </div>
              <button type="button" class="btn btn-outline-warning btn-lg ms-3">Принять</button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="row">
                <a asp-controller="Order" asp-action="Index" class="btn btn-warning btn-block btn-lg col">Оформить
                  заказ</a>
                <div class="col fw-bold">
                  Сумма: @Model.Total() руб.
                </div>
              </div>
            </div>
          </div>
        }
        else
        {
          <partial name="_BasketEmptyPartial" />
        }
      </div>
    </div>
  </div>
</section>

@section Scripts
{
  <script>
    function updateListItem(itemId, mode)
    {
      var divId = `#li-${itemId}`;
      $.ajax(
      {
        url: "Basket/ChangeQuantity",
        type: "get",
        data:
        {
          itemId:itemId,
          mode:mode,
        },
        success: function (data, textStatus, jqXHR)
        {
          console.log(textStatus + ": " + jqXHR.status);
          if(jqXHR.status == 204)
          {
            console.log("refreshing")
            window.location.reload()
          }
          if(data == 0)
          {
            $(divId).remove();
            getBasketCount();
          }
          else
          {
            $(divId).html(data);
            getBasketCount();
          }
        }
      });
    }
    function removeListItem(itemId, basketId)
    {
      var divId = `#li-${itemId}`;
      $.ajax(
      {
        url: "Basket/Remove",
        type: "delete",
        data:
        {
          itemId:itemId,
          basketId:basketId,
        },
        success: function (data, textStatus, jqXHR)
        {
          console.log(textStatus + ": " + jqXHR.status);
          if(jqXHR.status == 204)
          {
              data = 0;
              console.log("setting basket count to 0");
              setBasketCount(data)
              window.location.reload()
          }
          else
          {
            console.log("removing itemId" + itemId)
            setBasketCount(data.result)
            $(divId).remove();
          }
        }
      }
      );
    }

    function setBasketCount(count)
    {
      $("#basketCountPill").html(count);
      $("#basketCount").html(count);
      console.log("Set basket count to " + count);
    }

    function getBasketCount()
    {
      $.ajax(
      {
        url: "GetBasketItemsCountAsync",
        type: "get",

        success: function (data, textStatus, jqXHR)
        {
          console.log(textStatus + ": " + jqXHR.status);
          console.log("Got basket count: " + data);
          setBasketCount(data);
        }
      });
    }
  </script>
}