@model BasketViewModel

<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">


        @if (@Model.Items.Count > 0)
        {
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Корзина</h3>
            <div>
              <p class="mb-0"><span class="text-muted">Количество товара:</span>
                @Model.TotalItems
              </p>
            </div>
          </div>
          <div id="list">
            <partial name="_BasketListPartial" model="@Model" />
          </div>

          <div class="card mb-4">
            <div class="card-body p-4 d-flex flex-row">
              <div class="form-outline flex-fill">
                <input type="text" id="form1" class="form-control form-control-lg" />
                <label class="form-label" for="form1">Промокод</label>
              </div>
              <button type="button" class="btn btn-outline-warning btn-lg ms-3">Принять</button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="row">
                <a asp-controller="Order" asp-action="Index" class="btn btn-warning btn-block btn-lg col">Оформить
                  заказ</a>
                <div class="col fw-bold">
                  Сумма: @Model.Total() руб.
                </div>
              </div>
            </div>
          </div>
        }
        else
        {

          <div class="">
            <div class="h-150 py-5 services-icon-wap shadow">
              <div class="h1 text-success text-center"><i class="fa-solid fa-face-sad-tear"></i></div>
              <div class="row px-4 mx-4">
                <h2 class="h5 mt-2 text-center fw-light">Корзина пуста!</h2>
                <a asp-controller="Catalog" asp-action="Index" class="btn btn-success mt-4 fw-bold ">В каталог <i
                    class="fa-solid fa-bag-shopping"></i></a>
              </div>
            </div>
          </div>

        }

      </div>
    </div>
  </div>
</section>